@model IEnumerable<Star.Web.Features.Office.OfficeViewModel>

@{
    ViewData["Title"] = "Offices";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.ContentfulId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ContentfulId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ContentfulId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ContentfulId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
